/* static/css/base.css */
html,body{height: 100%}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  /* background-image: url(https://images.wallpaperscraft.ru/image/single/soty_obem_zhelezznyj_167098_1680x1050.jpg); */
  background-image: url(../img/bg.jpg);
  
}
 
header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  /* display: flex; */
  text-align: center;
  margin-top: 50;
}

header h1 a {
  color: rgb(253, 6, 6);
  text-decoration: none;
}
 
.nav-left {
  margin-right: auto;
}
 
.nav-right {
  display: flex;
  padding-top: 2rem;
}
 
.post-entry {
  margin-bottom: 2rem;
}
 
.post-entry h2 {
  margin: 0.5rem 0;
}
 
.post-entry h2 a,
.post-entry h2 a:visited {
  color: rgb(255, 125, 32);
  text-decoration: none;
}
 
.post-entry p {
  margin: 0;
  font-weight: 400;
  color: gold;
}
 
.post-entry h2 a:hover {
  color: red;
}

.post-entry h2 {
  color: rgb(255, 125, 32);
}
